# System & OS
.bash_history
*.log
*.tmp
*@github.com
.ssh/config

# Environment & Secrets
.env
.env.local
.env*.local
/config/config.js
*.secret.*
secrets/

# Dependencies
node_modules/
dist/
build/
.DS_Store
Thumbs.db